@import "tailwindcss";
@layer base {
    body {
        @apply bg-slate-900 text-white px-5
        
    }
    
}
.movie-list .swiper-slide{
    width: 450px;
    height:auto;
        }
        /* .banner .swiper {
            height :100%;
        } */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}
.bg-primary {
    background-color: #F52582;
    color: white;
  }
  
  .bg-secondary {
    background-color: #6F5CF1;
    color: white;
  }
 .primary {
    color:  #1d05b8
 } 
 .secondary{
    color:  #084ba3
 }
