@import "tailwindcss";
@layer base {
    body {
        @apply bg-slate-900 text-white px-5
        
    }
    
}
.movie-list .swiper-slide{
    width: 450px;
    height:auto;
        }
        /* .banner .swiper {
            height :100%;
        } */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}
